extends layout

block styles
    link(rel="stylesheet", href="/css/error.css")
block content
    .error-area
        .text
            h1.error 404
            h1.title متاسفانه صفحه مورد نظر یافت نشد.
            p مسیر مورد نظر را بررسی کرده و مجددا تلاش کنید. در صورت وقوع هر مشکلی با پشتیبانی سایت تماس حاصل فرمایید.
            

    script(src="/javascripts/error.js")