@media only screen and (min-width: 800px) {
    .tab-buttons{
        overflow: hidden;
        width: 80%;
        margin: auto;
        margin-top: 1vw;
    }
    .tab-buttons .tab-btn{
        float: right;
        width: 33%;
        text-align: center;
        border-bottom: lightgray 0.3vw solid;
        padding: 0.5vw 0;
        cursor: pointer;
    }
    .tab-buttons .tab-btn.active{
        border-bottom: var(--blue) 0.3vw solid;
        background-color: var(--lightgray);
    }
    .tab-buttons .tab-btn:hover{
        background-color: var(--lightgray);
    }
    .tab{
        text-align: right;
        width: 40%;
        margin: auto;
        margin-top: 2vw;
    }
    .tab .text-input input{
        display: block;
        border: none;
        border-bottom: var(--lightgray) 0.2vw solid;
        font-family: 'iransans';
        font-size: 1vw;
        padding: 0.4vw 1vw;
        width: 100%;
        margin: 0;
    }
    .tab .select-input select{
        display: block;
        border: none;
        border-bottom: var(--lightgray) 0.2vw solid;
        font-family: 'iransans';
        font-size: 1vw;
        padding: 0.4vw 1vw;
        width: 107%;
        margin: 0;
    }
    .tab .text-input input:focus{
        border-bottom: var(--blue) 0.2vw solid;
        outline: none;
    }
    .tab label{
        display: block;
        color: var(--text);
        margin: 0;
        margin-top: 1vw;
        font-size: 1vw;
    }
    .tab input.submit{
        display: block;
        border: none;
        font-family: 'iransans';
        font-size: 1vw;
        padding: 0.5vw 1vw;
        width: 60%;
        margin: auto;
        margin-top: 2vw;
        background-color: var(--blue);
        border-radius: 0.5vw;
        color: white;
        text-align: center;
        cursor: pointer;
    }
    .tab input.submit:hover{
        background-color: var(--green);
    }
    .role .purple{
        background-color: var(--purple);
        color: white;
        font-family: 'iransans';
        font-size: 0.9vw;
        padding: 0.1vw 1vw;
        width: fit-content;
        border-radius: 0.5vw;
        text-align: center;
    }
    .role .red{
        background-color: var(--red);
        color: white;
        font-family: 'iransans';
        font-size: 0.9vw;
        padding: 0.1vw 1vw;
        width: fit-content;
        border-radius: 0.5vw;
        text-align: center;
    }
    .role .green{
        background-color: var(--green);
        color: white;
        font-family: 'iransans';
        font-size: 0.9vw;
        padding: 0.1vw 1vw;
        width: fit-content;
        border-radius: 0.5vw;
        text-align: center;
    }
    .role .blue{
        background-color: var(--blue);
        color: white;
        font-family: 'iransans';
        font-size: 0.9vw;
        padding: 0.1vw 1vw;
        width: fit-content;
        border-radius: 0.5vw;
        text-align: center;
    }
    .inline.red{color: var(--red);display: inline;}
    .linked-account{
        cursor: pointer;
    }
    .linked-account:hover{
        color: var(--blue);
    }
    td.charge{
        color: var(--green);
        font-weight: bold;
        text-decoration: none;
        text-align: center;
    }
    .red-lock{
        color: red;
        padding-left: 0.5vw;
    }
    .transmission{
        width: 90%;
        margin: auto;
        margin-bottom: 3vw;
    }
    .transmission h1.title{
        font-family: 'iransans';
        font-size: 1.2vw;
        color: var(--blue);
        padding: 0.3vw 1vw;
    }
    .transmission h1.title i{
        padding-left: 0.5vw;
    }
    .transmission h1.name{
        font-family: 'iransans';
        font-size: 1vw;
        color: var(--dark);
        padding: 0.3vw 0;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }
    .transmission .select-account{
        width: 80%;
        /* margin: auto; */
        padding: 0.2vw 0.7vw;
        border: var(--lightgray) 0.1vw solid;
        background-color: var(--lightergray2);
        border-radius: 0.5vw;
        font-family: 'iransans';
        font-size: 1vw;
        color: var(--text);
        overflow: hidden;
        margin-bottom: 1vw;
        cursor: pointer;
        position: relative;
    }
    .transmission .select-account:hover{
        border: var(--blue) 0.1vw solid;
        color: var(--blue);
    }
    .transmission .select-account.selected{
        border: var(--green) 0.1vw solid;
        color: var(--green);
    }
    .transmission .select-account.red{
        border: red 0.1vw solid;
    }
    .transmission .select-account .name{
        font-family: 'iransans';
        font-size: 0.9vw;
        float: right;
        margin-right: 1.5vw;
    }
    .transmission .select-account .type{
        font-family: 'iransans';
        font-size: 0.8vw;
        float: left;
        padding-top: 0.1vw;
    }
    .transmission .text-input-view{
        overflow: hidden;
    }
    .transmission .text-input-view h1.name{
        float: right;
        width: 10%;
    }
    .transmission .text-input-view h1 .val{
        display: inline;
        color: var(--green);
        font-weight: bold;
    }
    .transmission .text-input-view h1{
        font-family: 'iransans';
        font-size: 1vw;
        color: var(--dark);
        padding: 0.3vw 0;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }
    .transmission input.text{
        float: right;
        width: 69%;
        font-family: 'iransans';
        font-size: 0.9vw;
        margin: auto;
        padding: 0.2vw 0.7vw;
        border: var(--lightgray) 0.1vw solid;
        border-radius: 0.5vw;
        background-color: var(--lightergray2);
    }
    .transmission input.text:focus{
        outline: none;
        border: var(--blue) 0.1vw solid;
    }
    .transmission input.text.red{
        border: red 0.1vw solid;
    }
    .control a.link{
        color: white;
        font-family: 'iransans';
        font-size: 1vw;
        background-color: var(--blue);
        padding: 0.3vw 0;
        width: 90%;
        margin: auto;
        display: block;
        border: none;
        border-radius: 0.3vw;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        margin-top: 0;
    }
    .control a.link i{
        padding-left: 0.5vw;
    }
    .control button.submit{
        color: white;
        font-family: 'iransans';
        font-size: 1vw;
        background-color: var(--blue);
        padding: 0.3vw 2vw;
        width: 90%;
        margin: auto;
        display: block;
        margin-top: 2vw;
        border: none;
        border-radius: 0.3vw;
        cursor: pointer;
    }
    .control button.submit i{
        padding: 0 0.5vw;
    }
    .control button.submit:hover{
        background-color: var(--green);
    }
    .transmission .account-info {
        padding: 0;
        margin: 0;
        margin-bottom: 1vw;
        overflow: hidden;
    }
    .transmission .account-info .info{
        float: right;
        width: 30%;
        margin-bottom: 0.5vw;
        overflow: hidden;
    }
    .transmission .account-info .info .name{
        font-weight: bold;
        color: var(--dark);
        float: right;
        width: 45%;
        text-align: left;
        margin-left: 5%;
    }
    .transmission .account-info .info .value{
        color: var(--green);
        float: right;
        width: 50%;
    }
    .transmission .account-info-view{
        border: var(--lightgray) 0.1vw solid;
        border-radius: 0.7vw;
        margin-bottom: 1vw;
        padding: 0 1vw;
    }
    .transmission .select-account i{
        display: none;
        position: absolute;
        top: 0.4vw;
        right: 0.5vw;
        color: var(--green);
    }
    .transmission a.link{
        display: block;
        width: fit-content;
        font-family: 'iransans';
        font-size: 1.1vw;
        color: var(--blue);
        text-decoration: none;
        font-weight: bold;
        margin-top: 1vw;
    }
    .transmission a.link i{
        padding-left: 0.5vw;
    }
    .transmission a.link:hover{
        color: var(--hover);
    }
    .select-list{
        max-height: 30vw;
        overflow-y: scroll;
        width: 100%;
        margin-top: 1vw;
    }
    .select-list::-webkit-scrollbar {width: 0.3vw;}
    .select-list::-webkit-scrollbar-track {background: var(--lightergray);}
    .select-list::-webkit-scrollbar-thumb {background: var(--lightgray);}
    .select-list::-webkit-scrollbar-thumb:hover{background: var(--gray);}
    .select-list table{
        font-family: 'iransans';
        text-align: center;
        border-collapse: collapse;
        width: 98%;
    }
    .select-list table tr{
        cursor: pointer;
    }
    .select-list table tr:hover{
        background-color: var(--lightgray);
    }
    .select-list table th{
        font-family: 'iransans';
        font-size: 0.9vw;
        border-bottom: var(--lightgray) 0.1vw solid;
        color: var(--text);
    }
    .select-list table td{
        border-bottom: var(--lightergray) 0.1vw solid;
        padding: 0.1vw 0;
    }
    .select-list table td h1{
        font-family: 'iransans';
        font-size: 1vw;
        padding: 0;
        margin: 0;
        font-weight: normal;
    }
    .select-list table td.role *{
        font-size: 0.8vw;
        padding: 0 0.5vw;
        border-radius: 0.3vw;
    }
    .select-search-view {
        border-bottom: var(--lightgray) 0.1vw solid;
        width: 90%;
        margin: auto;
        overflow: hidden;
    }
    .select-search-view input{
        margin: 0;
        outline: 0;
        border: none;
        display: block;
        float: right;
        width: 90%;
        font-family: 'iransans';
        font-size: 1vw;
        padding-right: 1vw;
    }
    .select-search-view button{
        border: none;
        display: block;
        float: right;
        font-size: 1vw;
        color: var(--text);
        background-color: transparent;
        cursor: pointer;
    }
    .select-search-view button:hover{
        color: var(--hover);
    }
    .charge h1{
        color: var(--text);
        font-family: 'iransans';
        font-size: 1.3vw;
        text-align: center;
        padding-top: 1vw;
        border-bottom: var(--lightgray) 0.1vw solid;
    }
    .charge h2{
        color: var(--green);
        font-size: 2vw;
        line-height: 1vw;
        text-align: center;
        font-family: 'iransans';
    }
    .charge h2 .cm{
        display: inline;
        color: var(--gray);
        font-size: 0.8vw;
        font-family: 'iransans';
        /* font-weight: normal; */
        padding-right: 0.5vw;
    }
    .charge .item{
        overflow: hidden;
        width: 85%;
        margin: auto;
    }
    .charge .item .cm{
        display: inline;
        color: var(--gray);
        font-size: 0.5vw;
        font-family: 'iransans';
        /* font-weight: normal; */
        padding-right: 0.5vw;
        font-weight: normal;
    }
    .charge .item .name{
        float: right;
        color: var(--text);
        font-family: 'iransans';
        font-size: 1vw;
    }
    .charge .item .value{
        float: left;
        color: var(--green);
        font-family: 'iransans';
        font-size: 1vw;
        font-weight: bold;
        margin-right: 0.4vw;
        font-weight: bold;
    }
    .charge .item .value.gray{
        color: var(--gray);
        font-weight: normal;
    }
    .control .charge .value .val{display: inline;}
    .transmissions-list{
        width: 90%;
        margin: 1vw auto;
        margin-top: 5vw;
    }
    .transmissions-list h1.title{
        font-family: 'iransans';
        font-size: 1.2vw;
        color: var(--blue);
        padding: 0.3vw 0;
    }
    .transmissions-list h1.title i{
        padding-left: 0.5vw;
    }
    .transmissions-list .row{
        overflow: hidden;
        border-bottom: var(--lightgray) 0.1vw solid;
    }
    .transmissions-list .row a.view{
        font-family: 'iransans';
        font-size: 1vw;
        text-decoration: none;
        color: var(--text);
        display: block;
        float: right;
    }
    .transmissions-list .row a.view:hover{
        color: var(--blue);
    }
    .transmissions-list .row a.delete{
        font-family: 'iransans';
        font-size: 1vw;
        text-decoration: none;
        color: var(--red);
        display: block;
        float: right;
        margin-right: 5vw;
    }
    .transmissions-list .row a i{
        padding-left: 0.5vw;
    }
    .users-view .file-input-view{
        overflow: hidden;
        margin-bottom: 0.8vw;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .users-view .file-input-view label{
        display: block;
        float: right;
        width: 30%;
        font-family: 'iransans';
        font-size: 0.9vw;
        text-align: left;
        margin-left: 0.5vw;
        color: var(--text);
    }
    .users-view .file-input-view label i{
        color: var(--blue);
        padding-right: 0.5vw;
    }
    .users-view .file-input-view .file-input-overlay{
        display: block;
        float: right;
        width: 50%;
        border: none;
        background-color: var(--lightergray2);
        border-radius: 0.5vw;
        font-family: 'iransans';
        font-size: 0.9vw;
        padding: 0.3vw 1vw;
        overflow: hidden;
    }
    .users-view .file-input-view .file-input-overlay{
        position: relative;
        text-align: right;
        color: var(--gray);
        cursor: pointer;
        overflow: hidden;
        padding: 0 1vw;
    }
    .users-view .file-input-view .file-input-overlay i.check{
        float: right;
        width: 10%;
        padding: 0.5vw 0;
        text-align: center;
        color: var(--green);
        display: none;
    }
    .users-view .file-input-view .file-input-overlay .filename{
        /* display: inline; */
        float: right;
        font-family: 'iransans';
        font-size: 0.9vw;
        color: var(--gray);
        padding: 0.3vw 1vw;
        /* background-color: darkblue; */
        overflow: hidden;
        width: 70%;
        margin: 0;
        white-space: nowrap ;
    }
    .users-view .file-input-view .file-input-overlay:hover .filename{
        color: var(--darkblue);
    }
    .users-view .file-input-view .file-input-overlay input{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 0.2vw 1vw;
        opacity: 0;
        cursor: pointer;
        /* background-color: rgba(238, 130, 238, 0.534); */
    }
    .users-view .file-input-view .file-input-overlay:hover{
        color: var(--darkblue);
    }
    .users-view .file-input-view .file-input-overlay input::-webkit-file-upload-button{
        cursor: pointer;
    }
    .users-view .file-input-view.small{
        width: 50%;
        margin-top: 2vw;
    }
}