@media only screen and (min-width: 800px) {
    .two-column{
        overflow: hidden;
        width: 90%;
        margin: 2vw auto;
    }
    .two-column .column{
        width: 50%;
        float: right;
    }
    .two-column .column .check-input{
        padding-right: 1vw;
    }
    /* .two-column .column .text-input{
        width: 90%;
        border-radius: 2vw;
        margin: 1vw 0.5vw;
        box-shadow: 0 0 0.5vw 0.2vw rgba(0, 0, 0, 0.2);
        padding: 0;
        background-color: white;
    } */
    .two-column .column .select-input{
        /* width: 90%;
        border-radius: 2vw;
        margin: 1vw 0.5vw;
        box-shadow: 0 0 0.5vw 0.2vw rgba(0, 0, 0, 0.2);
        padding: 0;
        background-color: white; */
        /* margin-top: 2vw; */
        margin-bottom: 1vw;
    }
    .two-column .column .select-input label{
        /* padding: 0.5vw 1vw; */
        font-family: 'iransans';
        font-size: 1vw;
        display: block;
        margin: 0;
        margin-bottom: -0.5vw;
        /* line-height: 0; */
    }
    .two-column .column .select-input select{
        font-size: 1vw;
        padding: 0.6vw;
        display: block;
        width: 80%;
        border: none;
        font-family: 'iransans';
        background-color: transparent;
        border-bottom: var(--lightgray) 0.2vw solid;
        margin-top: 0;
    }
    .two-column .column .select-input select:focus{
        outline: none;
    }
    .two-column .column .date-input{
        width: 90%;
        border-radius: 2vw;
        margin: 1vw 0.5vw;
        box-shadow: 0 0 0.5vw 0.2vw rgba(0, 0, 0, 0.2);
        padding: 0;
        text-align: center;
    }
    .two-column .column .date-input input{
        font-family: 'iransans';
        font-size: 1vw;
        padding: 0.8vw 1vw;
        width: 15%;
        border: none;
        text-align: center;
    }
    .two-column .column .label{
        text-align: center;
    }
    .two-column .column .title{
        color: var(--blue);
        font-family: 'iransans';
        font-size: 1.1vw;
        margin-bottom: 1vw;
    }
    .two-column .column textarea{
        border: none;
        resize: vertical;
        min-height: 10vw;
        width: 82%;
        border-radius: 1vw;
        margin: 1vw 0.5vw;
        box-shadow: 0 0 0.5vw 0.2vw rgba(0, 0, 0, 0.2);
        padding: 0;
        padding: 0.7vw 1vw;
        font-family: 'iransans';
        font-size: 1vw;
        border: transparent 0.1vw solid;
    }
    .two-column .column textarea:focus{
        outline: none;
        border: var(--blue) 0.1vw solid;
    }
    .two-column .column .text-input i{
        font-size: 1vw;
        color: var(--blue);
        width: 2vw;
        text-align: center;
        padding: 0.7vw 0;
    }
    .two-column .column .select-input i{
        font-size: 1vw;
        color: var(--blue);
        width: 2vw;
        text-align: center;
        padding: 0.7vw 0;
    }
    .two-column .column label{
        font-family: 'iransans';
        font-size: 1vw;
        color: var(--text);
        padding-left: 1vw;
    }
    .two-column .column .text-input input{
        display: block;
        width: 100%;
        background-color: transparent;
        font-size: 1vw;
        padding: 0 0.6vw;
        width: 70%;
        border: none;
        font-family: 'iransans';
        border-bottom: var(--lightgray) 0.2vw solid;
        margin-right: 1vw;
        margin-bottom: 1vw;
        margin-top: 0;
    }
    .two-column .column .text-input input::placeholder{
        color: var(--lightgray);
    }
    .two-column .column .text-input input:focus{
        border-bottom: var(--blue) 0.2vw solid;
        outline: none;
    }
    .two-column .column .upload-area{
        width: 90%;
    }
    button.submit i{
        padding-left: 0.5vw;
    }
    button.submit{
        position: fixed;
        bottom: 2vw;
        left: 2vw;

        background-color: var(--blue);
        color: white;
        font-family: 'iransans';
        font-size: 3vw;
        text-align: center;
        padding: 0.6vw 1.5vw 0.3vw 1.2vw;
        border: none;
        border-radius: 50%;
        /* margin-right: 5%; */
        cursor: pointer;
        display: block;
        margin-top: 1vw;
    }
    input.submit{
        background-color: var(--blue);
        color: white;
        font-family: 'iransans';
        font-size: 1vw;
        padding: 0.6vw 4vw;
        border: none;
        border-radius: 2vw;
        /* margin-right: 5%; */
        cursor: pointer;
        /* display: block; */
    }
    .submit:hover{
        background-color: var(--hover);
    }
    .two-column button.submit:hover{
        background-color: var(--hover);
    }
    .complete-license-info {
        width: 100%;
        margin: auto;
    }
    .complete-license-info h1.title{
        color: var(--darkblue);
        font-family: 'iransans';
        font-size: 1.4vw;
        margin-top: 2vw;
        /* text-align: center; */
    }
    .two-column img.license{
        width: 40%;
        margin-right: 15%;
        display: block;
        border-radius: 0.5vw;
    }
    .two-column .file-upload {
        margin-top: 2vw;
        margin-bottom: 1vw;
    }
    .charge h1{
        color: var(--text);
        font-family: 'iransans';
        font-size: 1.3vw;
        text-align: center;
        padding-top: 1vw;
        border-bottom: var(--lightgray) 0.1vw solid;
    }
    .charge h2{
        color: var(--green);
        font-size: 2vw;
        line-height: 1vw;
        text-align: center;
        font-family: 'iransans';
    }
    .charge h2 .cm{
        display: inline;
        color: var(--gray);
        font-size: 0.8vw;
        font-family: 'iransans';
        /* font-weight: normal; */
        padding-right: 0.5vw;
    }
    .charge .item{
        overflow: hidden;
        width: 90%;
        margin: auto;
    }
    .charge .item .name{
        float: right;
        color: var(--text);
        font-family: 'iransans';
        font-size: 1vw;
    }
    .charge .item .value{
        float: right;
        color: var(--green);
        font-family: 'iransans';
        font-size: 1vw;
        font-weight: bold;
        margin-right: 0.4vw;
    }
    
    a.link-to-account{
        color: var(--blue);
        font-family: 'iransans';
        font-size: 1.1vw;
        text-decoration: none;
        display: block;
        width: fit-content;
        margin-right: 2vw;
    }
    a.link-to-account:hover{
        color: var(--hover);
    }
    a.link-to-account i{
        padding: 0 0.5vw;
    }
    .block-account{
        text-align: center;
        margin-top: 2vw;
    }
    .block-account a{
        text-align: center;
        color: var(--red);
        font-family: 'iransans';
        font-size: 1vw;
        text-decoration: none;
    }
    .block-account a i{
        padding: 0 0.5vw;
    }
    .dates .date{
        font-family: 'iransans';
        font-size: 1vw;
        color: var(--text);
        text-align: center;
    }

}