@media only screen and (min-width: 800px) {
    .title-view {
        background-color: white;
        overflow: hidden;
        width: 90%;
        margin: 2vw auto;
        box-shadow: 0 0 0.3vw 0.1vw rgba(0, 0, 0, 0.1);
        border-radius: 0.3vw;
    }
    .title-view h1{
        margin: 0;
        padding: 1vw 2vw;
        float: right;
        font-family: 'iransans';
        font-size: 1.4vw;
        color: var(--text);
    }
    .title-view h2{
        margin: 0;
        padding: 1.5vw 2vw;
        float: left;
        font-family: 'iransans';
        font-size: 1vw;
        color: var(--lightgray);
        direction: ltr;
    }
    .content-view {
        overflow: hidden;
        width: 90%;
        margin: auto;
        padding: 0 2%;
    }
    .content-view .users-view {
        float: right;
        width: 74%;
        margin-left: 2%;
        margin-top: 1vw;
        margin-bottom: 1vw;
        background-color: white;
        box-shadow: 0 0 0.3vw 0.1vw rgba(0, 0, 0, 0.1);
        border-radius: 0.3vw;
    }
    .content-view .user-control {
        float: right;
        width: 24%;
    }
    .content-view .user-control .control {
        background-color: white;
        box-shadow: 0 0 0.3vw 0.1vw rgba(0, 0, 0, 0.1);
        border-radius: 0.3vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
        padding-bottom: 1vw;
        position: relative;
    }
    .content-view .users-view .filters{
        overflow: hidden;
        padding: 0 2vw;
        padding-top: 1vw;
    }
    .content-view .users-view .filters .check-input{
        float: right;
        padding-left: 1.5vw;
        padding-top: 0.4vw;
    }
    .content-view .users-view .filters .check-input label{
        font-family: 'iransans';
        font-size: 0.9vw;
        color: var(--text);
    }
    .content-view .users-view .filters .add-user-btn{
        background-color: var(--blue);
        font-family: 'iransans';
        font-size: 1vw;
        padding: 0.2vw 2vw;
        border-radius: 0.5vw;
        color: white;
        float: left;
        cursor: pointer;
    }
    .content-view .users-view .filters .add-user-btn:hover{
        background-color: var(--hover);
    }
    .content-view .users-view .filters .add-user-btn i{
        padding-left: 1vw;
        font-size: 0.8vw;
    }
    .content-view .users-view .filters .search-view {
        float: right;
        overflow: hidden;
        border: var(--lightgray) 0.1vw solid;
        border-radius: 1vw;
        margin-top: 0.05vw;
        padding: 0;
        /* margin-right: 1vw; */
    }
    .content-view .users-view .filters .search-view input{
        font-family: 'iransans';
        margin: 0;
        padding: 0.1vw 1vw;
        font-size: 0.8vw;
        border: none;
        float: right;
        width: 10vw;
    }
    .content-view .users-view .filters .search-view input:focus{
        outline: none;
    }
    .content-view .users-view .filters .search-view .search-button{
        font-size: 0.9vw;
        padding: 0.1vw 1vw;
        padding-right: 0;
        color: var(--text);
        cursor: pointer;
        float: right;
    }
    .content-view .users-view .filters .search-view .search-button:hover{
        color: var(--dark);
    }
    .content-view .users-view .users-list{
        width: 95%;
        margin: 1vw auto;
        
    }
    .content-view .users-view .users-list table{
        width: 100%;
        border-collapse: collapse;
        text-align: center;
    }
    .content-view .users-view .users-list table tr.btn{
        cursor: pointer;
    }
    .content-view .users-view .users-list table tr.btn:hover{
        background-color: var(--lightergray);
    }
    .content-view .users-view .users-list table th{
        border-bottom: var(--blue) 0.1vw solid;
        padding: 0.2vw 0;
        font-family: 'iransans';
        font-size: 1vw;
    }
    .content-view .users-view .users-list table td{
        padding: 0.4vw 0;
        text-align: center;
    }
    .content-view .users-view .users-list table td h1{
        font-family: 'iransans';
        font-size: 1vw;
        margin: 0;
        padding: 0;
        font-weight: normal;
    }
    .content-view .users-view .users-list table td a.phone{
        font-family: 'iransans';
        font-size: 0.9vw;
        margin: 0;
        padding: 0;
        text-decoration: none;
        color: var(--gray);
        display: block;
    }
    
    .content-view .users-view .users-list td.status{
        overflow: hidden;
        position: relative;
    }
    .content-view .users-view .users-list td.status .line{
        width: 1.7%;
        height: 0.2vw;
        background-color: var(--blue);
        margin-top: 2.3vw;
        float: right;
    }
    .content-view .users-view .users-list td.status .state{
        float: right;
        overflow: hidden;
        border: var(--lightgray) 0.1vw solid;
        border-radius: 0.5vw;
        background-color: white;
        position: relative;
        width: 5.5vw;
        height: 4.5vw;
        display: flex;
        align-content: center;
        align-items: center;
    }
    .content-view .users-view .users-list td.status .state.active{
        background-color: green;
        border: green 0.1vw solid;
        color: white;
    }
    .content-view .users-view .users-list td.status .state i{
        float: right;
        width: 15%;
        color: var(--green);
    }
    .content-view .users-view .users-list td.status .state .text{
        float: right;
        width: 80%;
        font-family: 'iransans';
        font-size: 0.7vw;
        text-align: center;
        color: var(--text);
    }
    .content-view .users-view .users-list td.status .state.active .text{
        color: white;
    }
    .content-view .users-view .users-list td.status .state i{
        opacity: 0;
    }
    .content-view .users-view .users-list td.status .state.active i{
        opacity: 1;
    }
    .content-view .users-view .users-list .message{
        color: var(--red);
        font-size: 1.5vw;
        cursor: pointer;
    }
    .content-view .users-view .users-list .message:hover{
        color: var(--hover);
    }
    .user-control .control h1.title{
        font-family: 'iransans';
        font-size: 1.1vw;
        color: var(--blue);
        padding: 0.5vw 1vw;
    }
    .user-control .control h1.title i.env{
        padding-left: 0.7vw;
        font-size: 1vw;
        position: relative;
    }
    .user-control .control i.bubble{
        color: rgb(245, 26, 26);
        padding-right: 0.5vw;
        font-size: 0.6vw;
    }
    .user-control .control .notifications .notif{
        background-color: var(--lightergray2);
        width: 92%;
        margin: auto;
        margin-bottom: 0.5vw;
        border-radius: 0.5vw;
        position: relative;
        padding-bottom: 1vw;
    }
    .user-control .control .notifications .notif.seen{
        background-color: #e1e5e7;
    }
    .user-control .control .notifications .notif .text{
        padding: 0.3vw 0.5vw;
        font-family: 'iransans';
        font-size: 0.9vw;
        /* text-align: justify; */
    }
    .user-control .control .notifications .notif .text .link{
        color: var(--blue);
        display: inline;
        cursor: pointer;
    }
    .user-control .control .notifications .notif .text .link:hover{
        color: var(--hover);
    }
    .user-control .control .notifications .notif .date{
        font-family: 'iransans';
        font-size: 0.7vw;
        color: var(--text);
        position: absolute;
        left: 0.5vw;
        bottom: 0.2vw;
    }
    .user-control .control .more-notif-btn{
        font-family: 'iransans';
        font-size: 0.9vw;
        text-align: center;
        color: var(--text);
        cursor: pointer;
    }
    .user-control .control .more-notif-btn:hover{
        color: var(--blue);
    }
    .user-control .control i.check{
        position: absolute;
        color: var(--green);
        right: 0.5vw;
        bottom: 0.2vw;
        font-size: 0.8vw;
    }
    .user-control .control i.check2{
        position: absolute;
        color: var(--green);
        right: 0.8vw;
        bottom: 0.2vw;
        font-size: 0.8vw;
    }
    /* --------------- user info popup ------------------- */
    .popup.user-info{
        border-radius: 0.3vw;
        padding: 0;
        overflow: hidden;
    }
    .popup.user-info .close-popup{
        top: 0.4vw;
        left: 0.5vw;
    }
    .popup.user-info .user-info-view{
        overflow: hidden;
    }
    .popup.user-info .user-info-view .info-view{
        background-color: var(--lightergray2);
        float: right;
        width: 30%;
        /* padding-bottom: 3vw; */
    }
    .popup.user-info .user-info-view .actions-view{
        float: right;
        width: 70%;
        background-color: white;
    }
    .popup.user-info .user-info-view .info-view img.avatar{
        width: 5vw;
        display: block;
        margin: auto;
        margin-top: 2vw;
    }
    .popup.user-info .user-info-view .info-view h1.name{
        font-family: 'iransans';
        font-size: 0.9vw;
        margin: 0;
        padding: 0;
        text-align: center;
        margin-bottom: 1vw;
    }
    .popup.user-info .user-info-view .info-view .item{
        width: 90%;
        margin: auto;
        overflow: hidden;
        margin-bottom: 0.5vw;
    }
    .popup.user-info .user-info-view .info-view .item .name{
        float: right;
        width: 35%;
        text-align: left;
        padding-left: 0.5vw;
        font-family: 'iransans';
        font-size: 1vw;
    }
    .popup.user-info .user-info-view .info-view .item .value{
        float: right;
        width: 45%;
        background-color: var(--skyblue);
        color: white;
        padding: 0.2vw 1vw;
        font-family: 'iransans';
        font-size: 0.9vw;
        border-radius: 0.5vw;
        height: 1.7vw;
    }
    .popup.user-info .user-info-view .info-view .buttons{
        overflow: hidden;
        padding-top: 4vw;
    }
    .popup.user-info .user-info-view .info-view .buttons .button{
        font-size: 1.4vw;
        color: var(--skyblue);
        text-decoration: none;
        border: var(--skyblue) 0.1vw solid;
        width: 2.6vw;
        padding-top: 0.2vw;
        padding-bottom: 0;
        display: block;
        text-align: center;
        border-radius: 50%;
        float: right;
        margin: 0.5vw 0.5vw;
        cursor: pointer;
    }
    .popup.user-info .user-info-view .info-view .buttons .button:hover{
        background-color: var(--skyblue);
        color: white;
    }




    .user-content-view{
        padding-right: 1vw;
    }
    .user-content-view .state-view{
        overflow: hidden;
        padding: 1.5vw 2vw;
        padding-bottom: 0;
    }
    .user-content-view .state-view.view1{
        overflow: visible;
        height: 5.3vw;
        width: 100%;
    }
    .user-content-view .state-view.view1 .space{
        float: right;
        height: 4vw;
        width: 1%;
    }
    .user-content-view .state-view .line{
        width: 1.7%;
        height: 0.2vw;
        background-color: var(--blue);
        margin-top: 2.3vw;
        float: right;
    }
    .user-content-view .state-view .state{
        float: right;
        /* overflow: hidden; */
        border: var(--lightgray) 0.1vw solid;
        border-radius: 0.5vw;
        background-color: white;
        position: relative;
        width: 6vw;
        height: 4vw;
        display: flex;
        align-content: center;
        align-items: center;
        cursor: pointer;
    }
    .user-content-view .state-view .state.active{
        background-color: green;
        border: green 0.1vw solid;
        color: white;
    }
    .user-content-view .state-view .state.selected{
        border: var(--red) 0.2vw solid;
    }
    .user-content-view .state-view .state i{
        float: right;
        width: 15%;
        color: var(--green);
    }
    .user-content-view .state-view .state .text{
        float: right;
        width: 80%;
        font-family: 'iransans';
        font-size: 0.7vw;
        text-align: center;
        color: var(--text);
    }
    .user-content-view .state-view .state .person{
        color: gray;
        font-size: 0.8vw;
        position: absolute;
        top: 4.3vw;
        text-align: center;
        width: 100%;
    }
    .user-content-view .state-view .state.active .text{
        color: white;
    }
    .user-content-view .state-view .state i{
        opacity: 0;
    }
    .user-content-view .state-view .state.active i{
        opacity: 1;
    }
    .state-view h1.title{
        font-family: 'iransans';
        font-size: 1vw;
        padding: 0;
        margin: 0;
        color: var(--text);
        padding-bottom: 0.5vw;
    }
    .state-view .buttons-view {
        overflow: hidden;
        margin-bottom: 1vw;
    }
    .state-view .buttons-view button.submit.next{
        float: left;
        padding: 0.2vw 2vw;
        background-color: var(--darkblue);
    }
    .state-view .buttons-view button.submit.next:hover{
        background-color: var(--green);
    }
    .state-view .buttons-view button.submit.next i{
        padding-right: 0.5vw;
        font-size: 0.8vw;
    }
    .state-view .access-denied{
        text-align: center;
    }
    .state-view .access-denied h1{
        font-family: 'iransans';
        font-size: 1.3vw;
        margin-top: 5vw;
    }
    .state-view .access-denied h1 i{
        color: rgb(192, 179, 0);
        padding-left: 0.5vw;
        font-size: 1vw;
    }
    .state-view .access-denied p{
        font-family: 'iransans';
        font-size: 1vw;
        color: var(--text);
        text-align: center;
    }
    .cards-view{
        overflow: hidden;
        padding: 1vw;
        padding-bottom: 0;
    }
    .cards-view .card{
        float: right;
        box-shadow: 0 0 0.3vw 0.1vw rgba(0, 0, 0, 0.1);
        margin: 1vw 1vw;
        border-radius: 1vw;
        width: 22%;
        position: relative;
        color: white;
        text-decoration: none;
        display: block;
        transition-duration: 500ms;
    }
    .cards-view .card:hover{
        box-shadow: 0 0 0.8vw 0.3vw rgba(0, 0, 0, 0.3);
    }
    .cards-view .card.blue{background-image: linear-gradient(135deg, #2b34db, #8585eb);}
    .cards-view .card.orange{background-image: linear-gradient(135deg, #fa7c14, #ffbf8a);}
    .cards-view .card.green{background-image: linear-gradient(135deg, #2bd834, #9deca1);}
    .cards-view .card.red{background-image: linear-gradient(135deg, #fd291e, #ffb5b1);}
    .cards-view .card i{
        position: absolute;
        top: 1.5vw;
        left: 1vw;
        font-size: 1.4vw;
    }
    .cards-view .card h1.number{
        font-size: 1.2vw;
        margin: 0;
        padding-top: 1.5vw;
        padding-right: 1vw;
    }
    .cards-view .card h1.number .cm{
        display: inline;
        font-size: 0.9vw;
        font-weight: normal;
    }
    .cards-view .card h1.title{
        font-size: 1.2vw;
        margin: 0;
        padding-bottom: 1.5vw;
        padding-right: 1vw;
    }
    .cards-view .card .progress-bar{
        width: 90%;
        margin: 0.5vw auto;
        background-color: rgba(0, 0, 0, 0.13);
        height: 0.3vw;
        text-align: right;
        direction: rtl;
    }
    .cards-view .card .progress-bar .passed{
        background-color: rgba(255, 255, 255, 0.808);
        height: 0.3vw;
    }
    h1.chah-title{
        color: var(--text);
        font-size: 0.8vw;
        font-family: 'iransans';
        padding: 0;
        margin: 0;
    }
    .state-chah-info{
        overflow: hidden;
    }
    .state-chah-info .info{
        width: 70%;
        float: right;
        border: var(--lightgray) 0.1vw solid;
        border-radius: 0.5vw;
        padding: 0.5vw 0.8vw;
        margin-left: 0.4vw;
    }
    .state-chah-info .info.two-part{
        overflow: hidden;
    }
    .state-chah-info .info.two-part .part{
        float: right;
        width: 50%;
    }
    .state-chah-info .info .item{
        overflow: hidden;
        margin-bottom: 0.2vw;
    }
    .state-chah-info .info .item .name{
        float: right;
        font-family: 'iransans';
        font-size: 0.8vw;
        width: 50%;
        text-align: left;
        padding-left: 0.5vw;
    }
    .state-chah-info .info .item .value{
        float: right;
        font-family: 'iransans';
        font-size: 0.8vw;
        width: 43%;
        background-color: var(--lightergray);
        border-radius: 0.4vw;
        white-space: nowrap;
        overflow: hidden;
        padding: 0 0.2vw;
    }
    .state-chah-info .info .item .value:hover{
        white-space: normal;
        overflow: visible;
    }
    .state-chah-info .picture{
        width: 25%;
        float: right;
        overflow: hidden;
        border-radius: 0.4vw;
        background-color: var(--lightergray);
        height: 13.8vw;
        display: flex;
        align-items: center;
    }
    .state-chah-info .picture img{
        /* width: 100%; */
        height: 13.8vw;
        display: block;
        margin: auto;
    }
    .state-chah-info .picture a{
        width: 100%;
        display: block;
        position: relative;
        text-decoration: none;
        color: white;
    }
    .state-chah-info .picture a .download{
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.445);
        text-align: center;
        display: flex;
        align-items: center;
        transition-duration: 500ms;
    }
    .state-chah-info .picture a .download i{
        font-size: 1.5vw;
        display: block;
        margin: auto;
    }
    .state-chah-info .picture a:hover .download{
        opacity: 1;
    }
    .state-view p{
        font-family: 'iransans';
        font-size: 0.9vw;
        padding: 0;
        margin: 0;
        color: var(--text);
        padding-top: 0.5vw;
        padding-bottom: 0.4vw;
        text-align: justify;
    }
    .state-view .part .comment{
        text-align: right;
    }
    .state-view .part .comment label,
    .state-view .part .normal-text-input label{
        font-family: 'iransans';
        font-size: 0.9vw;
        margin: 0;
        padding: 0;
        display: block;
    }
    .state-view .part .comment textarea{
        font-family: 'iransans';
        display: block;
        width: 90%;
        padding: 0.3vw 0.5vw;
        border-radius: 0.4vw;
        border: var(--lightgray) 0.1vw solid;
        height: 6vw;
    }
    .state-view .part .comment textarea:focus,
    .state-view .part .normal-text-input input:focus{
        outline: none;
        border: var(--blue) 0.1vw solid;
    }
    .state-view .part .normal-text-input{
        text-align: right;
    }
    .state-view .part .normal-text-input input{
        font-family: 'iransans';
        display: block;
        width: 90%;
        padding: 0.3vw 0.5vw;
        border-radius: 0.4vw;
        border: var(--lightgray) 0.1vw solid;
        margin: 0;
    }
    .state-view .part .triple-text-input {
        overflow: hidden;
    }
    .state-view .part .triple-text-input .normal-text-input{
        float: right;
        width: 27.5%;
        margin-left: 5%;
        text-align: center;
    }
    .state-view .part .buttons{
        overflow: hidden;
        width: 100%;
        margin-top: 1vw;
    }
    .state-view .part .buttons button{
        float: right;
        width: 46%;
        border: none;
        border-radius: 0.4vw;
        padding: 0.3vw 0;
        font-family: 'iransans';
        font-size: 0.9vw;
        margin-left: 3%;
        cursor: pointer;
        color: white;
    }
    .state-view .part .buttons button.left{
        float: left;
        margin-top: 0;
    }
    .state-view .part .buttons button.left-absolute{
        position: absolute;
        bottom: 1vw;
        left: 0.5vw;
        width: 8vw;
    }
    .state-view .file-input-view label.right{text-align: right;}
    .state-view .part .buttons button i {padding-left: 0.5vw;}
    .state-view .part .buttons button.times{background-color: rgb(235, 61, 18);}
    .state-view .part .buttons button.check{background-color: rgb(13, 190, 13);}
    .state-view .part .buttons button.times:hover{background-color: rgb(240, 99, 63);}
    .state-view .part .buttons button.check:hover{background-color: rgb(85, 223, 85);}
    .state-view .part .check-input-view {
        text-align: right;
        margin-top: 0.5vw;
    }
    .access-denied.margin0 h1{
        margin-top: 1vw;
    }
    .state-view a.download{
        font-family: 'iransans';
        font-size: 1.1vw;
        color: var(--blue);
        text-decoration: none;
    }
    .state-view a.download:hover{
        color: var(--hover);
    }
    .state-view h1.success{
        font-family: 'iransans';
        font-size: 1vw;
        color: var(--dark);
        text-align: center;
        margin-top: 2vw;
    }
    .state-view h1.success i{
        font-size: 1vw;
        color: var(--green);
        padding-left: 0.5vw;
    }
    .completed-state-view a.download{
        text-align: right;
        display: block;
    }
    .completed-state-view a.download i{
        padding-left: 0.5vw;
    }
    .completed-state-view .check-input-view .checked{
        color: var(--dark);
        font-size: 1vw;
        font-family: 'iransans';
    }
    .completed-state-view .check-input-view .checked i{
        color: var(--green);
        font-size: 1vw;
        padding-left: 0.5vw;
    }
    .check-input-view a.link{
        font-family: 'iransans';
        font-size: 1vw;
        color: var(--blue);
        text-decoration: none;
        cursor: pointer;
    }
    .check-input-view a.link:hover{
        color: var(--hover);
    }
    .other-beneficiaries{
        height: 25vh;
        overflow-y: scroll;
    }
    .other-beneficiaries .sample-beneficiary,
    .other-beneficiaries .beneficiary{
        overflow: hidden;
        margin-bottom: 1vw;
    }
    .other-beneficiaries .text-input{
        float: right;
        width: 30%;
    }
    .other-beneficiaries .text-input label,
    .other-beneficiaries .check-input label{
        font-family: 'iransans';
        font-size: 0.8vw;
        color: var(--text);
        display: block;
        text-align: right;
    }
    .other-beneficiaries .text-input input{
        display: block;
        font-family: 'iransans';
        font-size: 0.8vw;
        width: 90%;
    }
    .other-beneficiaries .check-input {
        float: right;
    }
    .other-beneficiaries .add-beneficiary {
        font-family: 'iransans';
        font-size: 1vw;
        color: var(--blue);
        cursor: pointer;
    }
    .other-beneficiaries .add-beneficiary i{
        padding-left: 0.5vw;
    }
    .other-beneficiaries .add-beneficiary:hover{
        color: var(--hover);
    }
    .beneficiaries-title{
        margin-top: 1vw;
        font-size: 1vw;
        width: 50%;
        text-align: center;
    }
    .chah-beneficiaries{
        width: 50%;
        height: 15vw;
        overflow-y: scroll;
    }
    .chah-beneficiaries table{
        width: 100%;
        text-align: center;
    }
    .chah-beneficiaries table th{
        border-bottom: var(--gray) 0.1vw solid;
    }
}

@media only screen and (max-width: 800px) {
    
}
