@media only screen and (min-width: 800px) {
    .cards-view{
        overflow: hidden;
        padding: 1vw;
    }
    .cards-view .card{
        float: right;
        box-shadow: 0 0 0.3vw 0.1vw rgba(0, 0, 0, 0.1);
        margin: 1vw 1vw;
        border-radius: 1vw;
        width: 22%;
        position: relative;
        color: white;
        text-decoration: none;
        display: block;
        transition-duration: 500ms;
    }
    .cards-view .card:hover{
        box-shadow: 0 0 0.8vw 0.3vw rgba(0, 0, 0, 0.3);
    }
    .cards-view .card.blue{background-image: linear-gradient(135deg, #2b34db, #8585eb);}
    .cards-view .card.orange{background-image: linear-gradient(135deg, #fa7c14, #ffbf8a);}
    .cards-view .card.green{background-image: linear-gradient(135deg, #2bd834, #9deca1);}
    .cards-view .card.red{background-image: linear-gradient(135deg, #fd291e, #ffb5b1);}
    .cards-view .card i{
        position: absolute;
        top: 1.5vw;
        left: 1vw;
        font-size: 1.4vw;
    }
    .cards-view .card h1.number{
        font-size: 1.2vw;
        margin: 0;
        padding-top: 1.5vw;
        padding-right: 1vw;
    }
    .cards-view .card h1.number .cm{
        display: inline;
        font-size: 0.9vw;
        font-weight: normal;
    }
    .cards-view .card h1.title{
        font-size: 1.2vw;
        margin: 0;
        padding-bottom: 1.5vw;
        padding-right: 1vw;
    }
    .cards-view .card .progress-bar{
        width: 90%;
        margin: 0.5vw auto;
        background-color: rgba(0, 0, 0, 0.13);
        height: 0.3vw;
        text-align: right;
        direction: rtl;
    }
    .cards-view .card .progress-bar .passed{
        background-color: rgba(255, 255, 255, 0.808);
        height: 0.3vw;
    }
    .charts-view{
        overflow: hidden;
    }
    .charts-view .chart1{
        float: right;
        width: 61%;
        background-color: white;
        margin-right: 3%;
        margin-left: 2%;
        border-radius: 0.5vw;
        box-shadow: 0 0 0.3vw 0.1vw rgba(0, 0, 0, 0.1);
        overflow: hidden;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
    .charts-view #chart1{
        width: 100%;
        height: 30vw;
    }
    .charts-view .chart2{
        margin-top: 1vw;
        margin-bottom: 1vw;
        box-shadow: 0 0 0.3vw 0.1vw rgba(0, 0, 0, 0.1);
        overflow: hidden;
        border-radius: 0.5vw;
        float: right;
        width: 30%;
        background-color: white;
        height: 30vw;
    }
    .charts-view #chart2{
        margin: 4vw 0;
        width: 100%;
    }
    .charts-view .chart2 a{
        font-family: 'iransans';
        font-size: 1.2vw;
        padding: 0.3vw 1vw;
        color: var(--blue);
        text-decoration: none;
    }
    .charts-view .chart2 a:hover{
        color: var(--orange);
    }
    .charts-view .chart2 a i{
        padding: 0 0.5vw;
        font-size: 1.3vw;
    }
    .notifications{
        max-height: 60vh;
        overflow-y: scroll;
        width: 80%;
        margin: 1vw auto;
        padding: 1vw 2vw;
    }
    .notifications .notif{
        padding: 0.7vw 1vw;
        color: white;
        border-radius: 1vw;
        margin-top: 1vw;
        overflow: hidden;
        background-color: var(--blue);
    }
    .notifications .notif.seen{
        background-color: var(--gray);
    }
    .notifications .notif:hover{
        background-color: var(--green);
    }
    .notifications .notif.nohover:hover{
        background-color: var(--blue);
    }
    .notifications .notif a{
        color: white;
        font-family: 'iransans';
        font-size: 1vw;
        float: right;
        display: block;
        text-decoration: none;
    }
    .notifications .notif .text{
        color: white;
        font-family: 'iransans';
        font-size: 1vw;
    }
    .notifications .notif .date{
        color: white;
        font-family: 'iransans';
        font-size: 1vw;
        float: left;
    }
    .notifications .notif .control{
        float: left;
        margin-left: 1vw;
    }
    .notifications .notif .control a{
        text-decoration: none;
        margin: 0 0.5vw;
        width: 2vw;
        padding-top: 0.2vw;
        text-align: center;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.459);
    }
    .notifications .notif .control a:hover{
        background-color: rgb(255, 255, 255);
    }
    .notifications .notif .control a.accept{
        color: rgb(5, 187, 5);
    }
    .notifications .notif .control a.decline{
        color: red;
    }
    .notifications .notif-info{
        padding: 1vw;
        overflow: hidden;
        margin: 0;
        /* display: none; */
    }
    .notifications .notif-info h1.title{
        color: var(--blue);
        margin: 0;
        font-family: 'iransans';
        font-size: 1.2vw;
    }
    .notifications .notif-info .part{
        width: 50%;
        float: right;
    }
    .notifications .notif-info .part .item{
        font-weight: bold;
        font-family: 'iransans';
        font-size: 1vw;
    }
    .notifications .notif-info .part .item .value{
        font-weight: normal;
        display: inline;
    }
    .notifications a.forms{
        color: white;
        font-family: 'iransans';
        font-size: 1vw;
        background-color: var(--blue);
        padding: 0.2vw 2vw;
        border-radius: 0.5vw;
        text-decoration: none;
        display: block;
        width: fit-content;
        margin-top: 0.5vw;
        float: right;
    }
    .notifications a.forms:hover{
        background-color: var(--orange);
    }
    .notifications a.forms i{
        padding-left: 0.5vw;
    }
}
@media only screen and (max-width: 800px) {
    
}






