@media only screen and (min-width: 800px) {
    .settings-view h1.title{
        color: var(--dark);
        font-family: 'iransans';
        font-size: 1.3vw;
        width: 90%;
        margin: 1vw auto;

    }
    .settings-view form{
        width: 90%;
        margin: auto;
        margin-bottom: 2vw;
    }
    .settings-view form .date-input label{
        font-family: 'iransans';
        font-size: 1vw;
    }
    .settings-view form .date-input input.text{
        font-family: 'iransans';
        font-size: 1vw;
        padding: 0 1vw;
        width: 5vw;
        border: none;
        border-bottom: var(--blue) 0.15vw solid;
        text-align: center;
    }
    .settings-view form .date-input input.text:focus{
        outline: 0;
        border-bottom: var(--orange) 0.15vw solid;
    }
    .settings-view form .date-input input.submit{
        background-color: var(--blue);
        font-family: 'iransans';
        font-size: 1vw;
        margin-right: 1vw;
        border: none;
        padding: 0.2vw 1vw;
        color: white;
        cursor: pointer;
        text-align: center;
        border-radius: 0.5vw;
    }
    .settings-view form .date-input input.submit:hover{
        background-color: var(--orange);
    }
    .settings-view.serverlogs{
        width: 90%;
        margin: auto;
        margin-bottom: 2vw;
    }
    .settings-view.serverlogs h1{
        width: 100%;
    }
    .settings-view .log-button{
        overflow: hidden;
        border-radius: 0.5vw;
        background-color: var(--blue);
        color: white;
        cursor: pointer;
        margin-top: 0.5vw;
    }
    .settings-view .log-button:hover{
        background-color: var(--hover);
    }
    .settings-view .log-button .name{
        font-family: 'iransans';
        font-size: 0.9vw;
        color: white;
        float: right;
        margin-right: 1vw;
        padding: 0.5vw 1vw;
        min-width: 40%;
    }
    .settings-view .log-button .user{
        font-family: 'iransans';
        font-size: 0.9vw;
        color: white;
        float: right;
        margin-right: 1vw;
        padding: 0.5vw 1vw;
    }
    .settings-view .log-button .date{
        font-family: 'iransans';
        font-size: 0.9vw;
        color: white;
        float: left;
        margin-left: 1vw;
        padding: 0.5vw 1vw;
    }
    .settings-view .log-detail{
        border: var(--lightgray) 0.1vw solid;
        border-radius: 0.5vw;
        margin: 0.5vw auto;
        display: none;
    }
    .settings-view .log-detail .two-part-info {
        overflow: hidden;
        width: 90%;
        margin: 0.5vw auto;
    }
    .settings-view .log-detail .two-part-info .part{
        float: right;
        width: 50%;
    }
    .settings-view .log-detail .two-part-info .item{
        direction: rtl;
        text-align: right;
        overflow: hidden;
    }
    .settings-view .log-detail .two-part-info .item .title{
        float: right;
        padding-left: 0.5vw;
    }
    .settings-view .log-detail .two-part-info .item .value{
        float: right;
    }
    .settings-view .log-detail .two-part-info .item .changed-value{
        float: right;
        padding: 0 0.5vw;
        color: var(--green);
        font-weight: bold;
    }
    .settings-view .log-detail .two-part-info .item .value.changed{
        color: var(--red);
        text-decoration: line-through;
    }
}