/* --------- Declarations ----------- */
@font-face{
    font-family: 'iransans';
    src: url('iransans.ttf');
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes goRight {
    from {margin-right: 3vw;}
    to {margin-right: 0;}
}
@keyframes goUp {
    from {margin-top: 5vw;}
    to {margin-top: 0.5vw;}
}
:root {
    --dark-background: #324054;
    --light-background: #ebf3f2;
    --dark: #2b3546;
    --text: #6a6f75;
    --darkblue: #2781aa;
    --blue: #28A5DC;
    --lightgray: #CACFD6;
    --orange: #FF8A47;
    --hover: #FF8A47;
    --purple: #AA0080;
    --green: #00DB68;
    --lightblue: #C8EBFE;
    --lightergray: #EAF2F6;
    --grayblue: #9CB0C4;
    --gray: #848C98;
    --red: #FF785A;
}
body{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'iransans';
    direction: rtl;
    background-color: white;
}
body::-webkit-scrollbar {width: 0.5vw;}
body::-webkit-scrollbar-track {background: var(--gray);}
body::-webkit-scrollbar-thumb {background: var(--dark);}
body::-webkit-scrollbar-thumb:hover{background: var(--blue);}
.hidden{display: none;}
.black-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
}
.transparent-modal{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.dashboard{
    overflow: hidden;
    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 800px) {
    .dashboard .side-bar{
        background-color: var(--dark-background);
        position: fixed;
        height: 100%;
        margin: 0;
        width: 15%;
    }
    .dashboard .content-area{
        background-color: var(--light-background);
        margin: 0;
        overflow: hidden;
        width: 85%;
        margin-right: 15%;
        min-height: 100vh;
    }
    .dashboard .side-bar .avatar{
        width: 30%;
        margin: auto;
        margin-top: 2vw;
    }
    .dashboard .side-bar .avatar img{ width: 100%;}
    .dashboard .side-bar .name{
        font-weight: bold;
        font-family: 'iransans';
        font-size: 1.5vw;
        text-align: center;
        color: var(--light-background);
    }
    .dashboard .side-bar .nav-links{
        margin: 3vw 0;
    }
    .dashboard .side-bar .nav-links a.sidebar-nav-link{
        color: white;
        text-decoration: none;
        font-family: 'iransans';
        padding: 0.4vw 2vw;
        font-size: 1.2vw;
        display: block;
    }
    .dashboard .side-bar .nav-links a.sidebar-nav-link:hover{
        color: white;
        background-color: var(--dark);
    }
    .dashboard .side-bar .nav-links a.sidebar-nav-link.active{
        color: white;
        background-color: var(--dark);
    }
    
    .dashboard .side-bar i{
        padding-left: 1vw;
        font-size: 1.5vw;
    }
    .dashboard .side-bar .nav-links .break{
        background-color: var(--background);
        width: 80%;
        height: 0.1vw;
        margin: auto;
    }
    .dashboard .side-bar a.logout{
        display: block;
        color: var(--red);
        text-decoration: none;
        font-family: 'iransans';
        padding: 0.4vw 2vw;
        font-size: 1.5vw;
        font-weight: bold;
        text-align: center;
        position: absolute;
        bottom: 1vw;
    }
    .dashboard .content-area .message-area{
        margin: 0;
        padding: 0;
    }
    .dashboard .content-area .message-area .success-msg{
        background-color: greenyellow;
        border-radius: 1vw;
        width: 85%;
        margin: 1vw auto;
        padding: 0.3vw 1vw;
        position: relative;
    }
    .dashboard .content-area .message-area .notif-msg{
        background-color: salmon;
        border-radius: 1vw;
        width: 85%;
        margin: 1vw auto;
        padding: 0.3vw 1vw;
        position: relative;
    }
    .dashboard .content-area .message-area i.close-success-msg, .dashboard .content-area .message-area i.close-notif-msg{
        position: absolute;
        left: 1vw;
        top: 1vw;
        color: var(--brown);
        cursor: pointer;
    }
    .dashboard .content-area .message-area i.close-success-msg:hover, .dashboard .content-area .message-area i.close-notif-msg:hover{
        color: var(--red);
    }
    .popup{
        display: none;
        position: fixed;
        top: 0;
        left: 14%;
        z-index: 11;
        background-color: white;
        width: 70%;
        margin: 5vw auto;
        border-radius: 1vw;
        padding: 2vw;
    }
    .popup .close-popup{
        position: absolute;
        top: 1.5vw;
        left: 2vw;
        font-size: 1.3vw;
        cursor: pointer;
    }
    .popup .close-popup:hover{
        color: var(--red);
    }
    .popup h1.popup-title{
        margin: 0;
        font-family: 'iransans';
        font-size: 1.3vw;
        color: var(--blue);
        border-bottom: var(--blue) 0.1vw solid;
        width: 50%;
        margin: auto;
        text-align: center;
        margin-bottom: 1vw;
    }
    .popup .two-side-form{
        overflow: hidden;
    }
    .popup .two-side-form .part{
        float: right;
        width: 50%;
        text-align: center;
    }
    .popup .two-side-form .part .text-input-area{
        width: 90%;
        padding: 0.7vw 1vw;
        direction: rtl;
        text-align: center;
        position: relative;
        overflow: hidden;
    }
    .popup .two-side-form .part .text-input-area input{
        display: block;
        width: 70%;
        box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 0, 0.2);
        border-radius: 2vw;
        border: white 0.1vw solid;
        font-family: 'iransans';
        font-size: 1vw;
        padding: 0.3vw 4vw;
    }   
    .popup .two-side-form .part .text-input-area input:focus{
        border: var(--blue) 0.1vw solid;
        outline: none;
    }
    .popup .two-side-form .part .text-input-area i{
        position: absolute;
        color: var(--blue);
        font-size: 1.3vw;
        top: 1.2vw;
        right: 2vw;
    }
    .popup .two-side-form .part .text-input-area button.submit{
        background-color: var(--blue);
        color: white;
        display: block;
        font-family: 'iransans';
        font-size: 1.2vw;
        border-radius: 2vw;
        border: none;
        padding: 0.3vw 2vw;
        float: left;
        margin-left: 2vw;
        cursor: pointer;
    }
    .popup .two-side-form .part .text-input-area button.submit:hover{
        background-color: var(--hover);
    }
    .popup .two-side-form .part .date-input-area{
        width: 90%;
        padding: 0.5vw 1vw;
        direction: rtl;
        text-align: right;
        position: relative;
        overflow: hidden;
    }
    .popup .two-side-form .part .date-input-area label{
        font-family: 'iransans';
        font-size: 1vw;
    }
    .popup .two-side-form .part .date-input-area input{
        display: inline;
        width: 15%;
        box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 0, 0.2);
        border-radius: 2vw;
        border: white 0.1vw solid;
        font-family: 'iransans';
        font-size: 1vw;
        padding: 0.3vw 1vw;
    }
    .popup .two-side-form .part .select-input-area{
        width: 90%;
        padding: 0.5vw 1vw;
        direction: rtl;
        text-align: right;
        position: relative;
        overflow: hidden;
    }
    .popup .two-side-form .part .select-input-area label{
        font-family: 'iransans';
        font-size: 1vw;
    }
    .popup .two-side-form .part .select-input-area select{
        display: inline;
        width: 50%;
        box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 0, 0.2);
        border-radius: 2vw;
        border: white 0.1vw solid;
        font-family: 'iransans';
        font-size: 1vw;
        padding: 0.3vw 1vw;
    }
    
    .errors-area{
        /* background-color: coral; */
        position: fixed;
        width: 40vw;
        bottom: 0;
        left: 2vw;
        z-index: 100;
    }
    .errors-area .error{
        background-color: rgba(220, 20, 20, 0.842);
        position: relative;
        margin: 1vw;
        border-radius: 1vw;
        color: white;
        padding: 0.7vw 1vw;
        padding-bottom: 0;
    }
    .errors-area .error.green-error{
        background-color: rgba(1, 170, 9, 0.842);
        position: relative;
        margin: 1vw;
        border-radius: 1vw;
        color: white;
        padding: 0.7vw 1vw;
        padding-bottom: 0;
    }
    
    .errors-area .error h1{
        display: inline-block;
        padding-right: 0;
        margin: 0;
        font-family: 'iransans';
        font-size: 1.2vw;
    }
    .errors-area .error i{
        display: inline-block;
        padding-left: 1vw;
    }
    .errors-area .error i.close-error{
        position: absolute;
        top: 1vw;
        left: 0;
        cursor: pointer;
    }
    .errors-area .error .time-interval{
        background-color: rgba(255, 255, 255, 0.664);
        /* position: absolute;
        bottom: 0; */
        width: 0;
        height: 0.3vw;
        margin-top: 0.5vw;
    }
    .popup .middle-col {
        width: 50%;
        margin: auto;
    }
    .popup .middle-col .text-input{
        width: 100%;
        padding: 0.7vw 1vw;
        direction: rtl;
        text-align: center;
        position: relative;
        overflow: hidden;
        margin-bottom: 2vw;
    }
    .popup .middle-col .text-input input{
        display: block;
        width: 70%;
        box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 0, 0.2);
        border-radius: 2vw;
        border: white 0.1vw solid;
        font-family: 'iransans';
        font-size: 1vw;
        padding: 0.3vw 4vw;
    }   
    .popup .middle-col .text-input input:focus{
        border: var(--blue) 0.1vw solid;
        outline: none;
    }
    .popup .middle-col .text-input i{
        position: absolute;
        color: var(--blue);
        font-size: 1.3vw;
        top: 1.2vw;
        right: 2vw;
    }
    .upload-area {
        border: lightblue 2px dashed;
        position: relative;
        cursor: pointer;
        padding: 2vw 0;
        text-align: center;
        color: #798AAF;
        font-family: 'iransans';
        font-size: 1.3vw;
        width: 98%;
        border-radius: 1vw;
        margin-bottom: 1vw;
    }
    .upload-area i{
        padding: 0 0.5vw;
    }
    input.file {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    
}

@media only screen and (max-width: 800px) {
    
}
.invisible{display: none;}
.visible{display: block;}