@media only screen and (min-width: 800px) {
    .avatar-info{
        overflow: hidden;
        width: 90%;
        margin: auto;
        /* background-color: lightblue; */
    }
    .avatar-info .avatar{
        float: right;
        border-radius: 50%;
        background-color: white;
        padding: 2.3vw 3vw;
        margin: 3vw 1vw;
        margin-bottom: 2vw;
        box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 0, 0.1);
    }
    .avatar-info .avatar i{
        color: var(--lightgray);
        font-size: 5vw;
    }
    .avatar-info .info{
        float: right;
        margin-right: 1vw;
    }
    .avatar-info .info h1{
        color: var(--blue);
        font-family: 'iransans';
        font-size: 1.5vw;
        margin-top: 5vw;
        margin-bottom: 0;
    }        
    .avatar-info .info h2{
        margin: 0;
        /* margin-top: 1vw; */
    }
    .avatar-info .info h2 a{
        color: var(--lightgray);
        font-size: 1.1vw;
        font-family: 'iransans';
        text-decoration: none;
    }
    .avatar-info .info h2 a:hover{
        color: var(--blue);
    }
    .personal-info{
        width: 90%;
        margin: auto;
    }
    .personal-info form{
        overflow: hidden;
    }
    .personal-info .part{
        float: right;
        width: 50%;
    }
    .personal-info .part .text-input{
        background-color: white;
        width: 90%;
        margin: 1vw auto;
        border-radius: 2vw;
        box-shadow: 0 0 0.4vw 0.1vw rgba(0, 0, 0, 0.1);
    }
    .personal-info .part .text-input label{
        font-family: 'iransans';
        font-size: 1.1vw;
        padding: 0.6vw 1vw;
        font-weight: bold;
        color: var(--gray);
    }
    .personal-info .part .text-input input{
        font-family: 'iransans';
        font-size: 1vw;
        background-color: transparent;
        border: none;
        padding: 0.6vw 1vw;
        padding-right: 0;
        width: 67%;
        border-bottom: transparent 0.1vw solid;
    }
    .personal-info .part .text-input input:focus{
        outline: none;
        border-bottom: var(--blue) 0.1vw solid;
    }
    .personal-info input.submit{
        border: none;
        background-color: var(--blue);
        font-family: 'iransans';
        font-size: 1.2vw;
        color: white;
        border-radius: 2vw;
        padding: 0.5vw 3vw;
        margin-right: 2vw;
        cursor: pointer;
    }
    .personal-info input.submit:hover{
        background-color: var(--hover);
    }
    .tab-view {
        width: 85%;
        margin: 1vw auto;
        margin-top: 3vw;
    }
    .tab-view .tabs-area{
        overflow: hidden;
    }
    .tab-view .tabs-area .tab{
        float: right;
        background-color: white;
        width: 33.33%;
        text-align: center;
        padding: 0.6vw 0;
        font-size: 1.2vw;
        color: var(--text);
        cursor: pointer;
        border-bottom: white 0.4vw solid;
    }
    .tab-view .tabs-area .tab#tab1{
        border-top-right-radius: 1vw;
    }
    .tab-view .tabs-area .tab#tab3{
        border-top-left-radius: 1vw;
    }
    .tab-view .tabs-area .tab:hover{
        border-bottom: var(--lightgray) 0.4vw solid;
    }
    .tab-view .tabs-area .tab.active{
        border-bottom: var(--gray) 0.4vw solid;
    }
    .tab-view .content{
        overflow: hidden;
        margin-top: 0.5vw;
        background-color: white;
    }
    .tab-view .content table{
        width: 90%;
        margin: 1vw auto;
        text-align: center;
    }
    .tab-view .content table th{
        color: var(--blue);
        padding: 0.5vw 0;
    }
    .tab-view .content table td{
        border-top: var(--lightgray) 0.1vw solid;
        padding: 0.3vw 0;
        color: var(--dark);
    }
    .tab-view .content table td a{
        font-size: 1.2vw;
        text-decoration: none;
        padding-left: 0.5vw;
        cursor: pointer;
    }
    .tab-view .content table td a.red{color: var(--red);}
    .tab-view .content table td a.green{color: var(--green);}
    .tab-view .content table td a:hover{
        color: var(--hover);
    }
    .tab-view .content a.add-acount{
        color: var(--orange);
        text-align: center;
        display: block;
        cursor: pointer;
        font-family: 'iransans';
        font-size: 1.2vw;
        padding: 0.5vw 0;
        text-decoration: none;
    }
    .tab-view .content a.add-acount:hover{
        background-color: var(--hover);
        color: white;
    }
    .tab-view .content a.add-acount i{
        padding: 0 0.5vw;
    }
}

@media only screen and (max-width: 800px) {
    
}







