.popup#file-user-popup
    i.fa.fa-times.close-popup
    h1.popup-title افزودن کاربر جدید
    form(action="/upload/user-file" enctype="multipart/form-data" method="POST") 
        input.hidden(type="text" name="userID" value="#{viewingUser._id}")
        .middle-col
            .text-input 
                i.fa.fa-pencil
                input(type="text" name="title" placeholder="عنوان فایل")
            .upload-area فایل خود را انتخاب کنید
                i.fa.fa-cloud-upload
                input.file(type="file" name="myFile")
            input.submit(type="submit" value="آپلود")