footer 
    .part 
        h1 لینک های مفید
        a(href="#") قیمت ها
        a(href="#") شرایط همکاری
        a(href="#") اپلیکیشن موبایل
        a(href="#") راهنما
    .part 
        h1 موضوعات
        a(href="#") محصولات
        a(href="#") معرفی مجموعه
        a(href="#") آموزش استفاده
    .part 
        h1 شرکت
        a(href="#") درباره ما
        a(href="#") کسب درآمد
        a(href="#") آکادمی
        a(href="#") تماس با ما
    .part
        h1 تماس با ما
        .contact 
            i.fa.fa-phone 
            p 021-55123456
        .contact 
            i.fa.fa-map-marker
            p تهران، خیابان میرزای شیرازی، ...
         
            
            
        
    h1.copyright تمامی حقوق این سایت متعلق به مجموعه رهروان سپهر اندیشه می‌باشد.