header 
    img(src="/img/home/water.png")
    a.logo(href="/") 
        img(src="/img/logo.png", alt="logo")
    //- .dark-overlay
    nav 
        a.nav-link.normal.active(href="#") 
            i.fa.fa-home
            | خانه
        a.nav-link.normal(href="#") اخبار
        a.nav-link.normal(href="#") درباره ما
        a.nav-link.normal(href="#") تماس با ما
        a.nav-link.normal(href="#") ورود
    .info 
        h1.title میـــراب
        h1.title2 شرکـت دانـش بنیـان رهـروان سپـهر اندیـشه
        a.enter(href="/users/login")  ورود به سامانه