nav 
    .logoarea 
        img(src="/img/logo.png", alt="logo")
    a.nav-link.normal(href="#") 
        i.fa.fa-home
        | خانه
    a.nav-link.normal(href="#") اخبار
    a.nav-link.normal(href="#") درباره ما
    a.nav-link.normal(href="#") تماس با ما
    a.nav-link.normal(href="#") ورود