-if(user.role == 'آب منطقه‌ای'){
    
-}else{
    .access-denied 
        h1 
            i.fa.fa-warning
            | نیازمند تایید کارشناس آب منطقه‌ای
        p جهت ادامه فرایند، باید وضعیت شارژ و اعتبار بهره‌برداران توسط کارشناس آب منطقه‌ای تایید گردد.
-}
