extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/acount-view.css")

block content
    -if(account.type == 'chah')
        include ../components/chah-view
    -else if(account.type == 'chahvandi')
        include ../components/chahvandi-view
    -else if(account.type == 'abvandi')
        include ../components/abvandi-view
    
    script(src="/js/acount-view.js") 


