extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/acount-view.css")

block content
    -if(account.type == 'chah')
        include ../components/chah-view
    script(src="/js/acount-view.js") 


