doctype html

html
    head
        title میراب
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="shortcut icon", href="/img/logo.png", type="image/x-icon")
        script(src="/js/jquery-3.5.1.min.js")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        //- meta(name="theme-color" content="#050507")
        //- script(src="/js/index.js")
        script(src="https://www.gstatic.com/charts/loader.js")
        link(rel="stylesheet", href="/css/dashboard/dashboard-layout.css")
        block styles
    body
        include ../components/messages
        .black-modal
        .dashboard
            .side-bar 
                .avatar
                    img(src="/img/avatar/10.png", alt="avatar")
                .name= user.fullname
                .nav-links 
                    -if(user.role == 'user'){
                        a.sidebar-nav-link#link1(href="/dashboard") 
                            i.fa.fa-user 
                            | داشبورد
                        .break 
                        a.sidebar-nav-link#link2(href="#") 
                            i.fa.fa-book
                            | حساب‌های من
                        .break 
                        a.sidebar-nav-link#link3(href="#") 
                            i.fa.fa-history
                            | تاریخچه
                        .break 
                        a.sidebar-nav-link#link4(href="#") 
                            i.fa.fa-bell
                            | اعلان ها
                        .break 
                        a.sidebar-nav-link#link5(href="#") 
                            i.fa.fa-gears
                            | تنظیمات
                    -}else{
                        a.sidebar-nav-link#link1(href="/dashboard") 
                            i.fa.fa-user 
                            | داشبورد
                        .break 
                        a.sidebar-nav-link#link2(href="/dashboard/users") 
                            i.fa.fa-book
                            | کاربران
                        .break 
                        a.sidebar-nav-link#link3(href="/dashboard/accounts") 
                            i.fa.fa-history
                            | حساب ها
                        .break 
                        a.sidebar-nav-link#link4(href="/dashboard/transmissions") 
                            i.fa.fa-bell
                            | گزارشات
                        .break 
                        a.sidebar-nav-link#link5(href="#") 
                            i.fa.fa-gears
                            | تنظیمات
                    -}
                a.logout(href="/users/logout") 
                    i.fa.fa-power-off
                    | خروج

            .content-area
                block content