@media only screen and (min-width: 800px) {
    nav{
        width: 90%;
        background-color: white;
        position: sticky;
        overflow: hidden;
        top: 0;
        z-index: 100;
        padding: 0 5%;
    }
    nav .logoarea {
        float: left;
        padding: 0.5vw 0;
        padding-bottom: 0;
    }
    nav .logoarea img{
        width: 3.5vw;
        display: inline;
    }
    nav a.nav-link i{
        padding: 0 0.5vw;
    }
    nav a.nav-link{
        float: right;
        font-family: 'iransans';
        font-size: 1.2vw;
        color: var(--text);
        text-decoration: none;
        padding: 1.5vw 2vw;
        cursor: pointer;
    }
    nav a.nav-link.orange{
        background-color: var(--orange);
        color: white;
    }
    nav a.nav-link.orange:hover{
        font-size: 1.3vw;
        padding: 1.45vw 1.8vw;
    }
    nav a.nav-link.normal i.user-icon{
        font-size: 2vw;
    }
    nav a.nav-link.normal i.user-icon:hover{color: var(--blue);}
    nav a.nav-link.normal.small{
        padding: 1.15vw 2vw;

    }
    nav a.nav-link.normal{
        border-top: transparent 0.3vw solid;
        padding: 1.35vw 2vw;
    }
    nav a.nav-link.normal:hover{
        transition-duration: 500ms;
        border-top: var(--gray) 0.3vw solid;
    }
    nav a.nav-link.dropdown i{
        padding: 0 0.5vw;
        font-size: 0.9vw;
    }
}

