@media only screen and (min-width: 800px) {
    .popup{
        border-radius: 0.5vw;
    }
    .popup .text-input-view,
    .popup .select-input-view,
    .popup .date-input-view,
    .popup .file-input-view{
        overflow: hidden;
        margin-bottom: 0.8vw;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .popup .text-input-view label, 
    .popup .date-input-view label, 
    .popup .select-input-view label,
    .popup .file-input-view label{
        display: block;
        float: right;
        width: 40%;
        font-family: 'iransans';
        font-size: 0.9vw;
        text-align: left;
        margin-left: 0.5vw;
        color: var(--text);
    }
    .popup .text-input-view label i, 
    .popup .date-input-view label i, 
    .popup .select-input-view label i,
    .popup .file-input-view label i{
        color: var(--blue);
        padding-right: 0.5vw;
    }
    .popup .text-input-view input, 
    .popup .date-input-view .date-input,
    .popup .select-input-view .select,
    .popup .file-input-view .file-input-overlay{
        display: block;
        float: right;
        width: 50%;
        border: none;
        background-color: var(--lightergray2);
        border-radius: 0.5vw;
        font-family: 'iransans';
        font-size: 0.9vw;
        padding: 0.3vw 1vw;
        overflow: hidden;
    }
    
    .popup .select-input-view .select{padding-top: 0;padding-bottom: 0;}
    .popup .select-input-view .select select{
        background-color: transparent;
        border: none;
        width: 100%;
        font-family: 'iransans';
        font-size: 0.9vw;
        padding: 0.3vw 0;
    }
    .popup .select-input-view .select select:focus,
    .popup .text-input-view input:focus{
        outline: none;
    }
    .popup .date-input-view .date-input input{
        font-family: 'iransans';
        font-size: 0.9vw;
        padding: 0 1vw;
        margin: 0;
        border: none;
        width: 3vw;
        display: block;
        float: right;
        background-color: transparent;
    }
    .popup .text-input-view input::placeholder, 
    .popup .date-input-view .date-input input::placeholder{
        color: var(--gray);
    }
    .popup .date-input-view .date-input input:focus{
        outline: none;
    }
    .popup .date-input-view .date-input label{
        font-size: 0.9vw;
        display: block;
        float: right;
        padding: 0;
        margin: 0;
        width: fit-content;
    }
    .popup button.submit{
        font-family: 'iransans';
        display: block;
        width: fit-content;
        font-size: 1vw;
        color: white;
        background-color: var(--blue);
        padding: 0.2vw 2vw;
        border-radius: 0.4vw;
        border: none;
        margin: 0;
        margin: auto;
        margin-top: 1vw;
        cursor: pointer;
    }
    .popup button.submit:hover{
        background-color: var(--hover);
    }
    .required{
        color: var(--red);
        display: inline;
        padding-right: 0.1vw;
    }
    .popup h1.popup-title{
        font-size: 1.1vw;
    }
    .popup .file-input-view .file-input-overlay{
        position: relative;
        text-align: right;
        color: var(--gray);
        cursor: pointer;
        overflow: hidden;
        padding: 0 1vw;
    }
    .popup .file-input-view .file-input-overlay i.check{
        float: right;
        width: 10%;
        padding: 0.5vw 0;
        text-align: center;
        color: var(--green);
        display: none;
    }
    .popup .file-input-view .file-input-overlay .filename{
        /* display: inline; */
        float: right;
        font-family: 'iransans';
        font-size: 0.9vw;
        color: var(--gray);
        padding: 0.3vw 1vw;
        /* background-color: darkblue; */
        overflow: hidden;
        width: 70%;
        margin: 0;
        white-space: nowrap ;
    }
    .popup .file-input-view .file-input-overlay:hover .filename{
        color: var(--darkblue);
    }
    .popup .file-input-view .file-input-overlay input{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 0.2vw 1vw;
        opacity: 0;
        cursor: pointer;
        /* background-color: rgba(238, 130, 238, 0.534); */
    }
    .popup .file-input-view .file-input-overlay:hover{
        color: var(--darkblue);
    }
    .popup .file-input-view .file-input-overlay input::-webkit-file-upload-button{
        cursor: pointer;
    }
}